.recommended-friedns {
  border-top: var(--opacity-border);
  border-bottom: var(--opacity-border);
  margin: 20px 0;
  padding: 25px 0;
}

.recommended-friedns__title {
  font-size: 15px;
  color: var(--opacity-color);
}

.recommended-friedns span {
  display: block;
  text-align: center;
  margin: 100px 0;
  color: var(--opacity-color);
  font-size: 20px;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--opacity-color);
  margin-bottom: 20px;
}

.open-chat__header span {
  opacity: 0.4;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 7px;
}

.open-post__members {
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.5;
  font-size: 15px;
}

.open-post__members .divider {
  width: 2px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 5px;
}

.open-post__member-status {
  color: #ff68c4;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__heart-count {
  font-size: 15px;
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  color: white;
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 8px;
  left: 65px;
}

.open-post__heart-count span {
  margin-left: 5px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }

  50% {
    color: red;
    transform: scale(1.5);
  }

  100% {
    color: white;
    transform: none;
  }
}

.open-post__column:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}

.open-post__photo {
  position: relative;
}
