.nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(241, 235, 235, 0.7);
}

.nav-bar__list {
  display: flex;
  justify-content: space-between;
}

.nav-bar__link {
  position: relative;
  color: #2f363e;
}

.nav-bar__notification {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 600;
  position: absolute;
  right: -4px;
  top: -20px;
}

.nav-bar__dot {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
  display: flex;
  justify-content: center;
  position: absolute;
  right: -5px;
}
